In [ ]:
import os, json, glob, sys, numpy as np
import pandas as pd

In [9]:
data_6m = pd.read_csv('./datas_after_tokenizer/6m/6m_after_prepro.csv', header=None)

In [10]:
data_6m.head()

            0                                                  1  2
0       신문A8면  미 월 실업 최저 연 회 금리 인상 무게 오류 우회 위한 함수 추가 년 최저 수준 ...  1
1  2018-06-01  채용 비리 의혹 윤종규 금융 회장 지난달 소환 오류 우회 위한 함수 추가 머니 투데...  1
2  2018-06-01  검찰 채용 비리 의혹 윤종규 금융 지주 회장 지난달 소환 종합 오류 우회 위한 함수...  1
3  2018-06-01  대한항공 직원 연대 홍대 시민 갑 근절 목소리 높여 오류 우회 위한 함수 추가 아이...  1
4  2018-06-01  채용 비리 의혹 함영주 은행장 구속 영장 기각 오류 우회 위한 함수 추가 법원 피 ...  1

In [11]:
print(len(data_6m.iloc[:, 0]))

201432

In [12]:
df_6m = data_6m.sample(frac=1).reset_index(drop=True)
print(df_6m.iloc[0:10,2])

0    3
1    0
2    2
3    2
4    0
5    0
6    0
7    2
8    1
9    0
Name: 2, dtype: int64

In [13]:
df_6m.iloc[0:5, 1:3]

                                                   1  2
0  좋 날 송승헌 방부제 미모 이미지 원본 송승헌 인 스타 헤럴드 고명진 기자 송승헌 ...  3
1  인사말 한 메이린 작가 오류 우회 위한 함수 추가 서울 뉴시스 박진희 기자 중국 현...  0
2  취재 수첩 피로감 말 규제 개혁 오류 우회 위한 함수 추가 이지현 바이오 헬스 기자...  2
3  통신 돋보기 이통 도입 주파수 뭐 길래 오류 우회 위한 함수 추가 아이 뉴스 아이 ...  2
4  유가족 위로 김성태 권한 대행 오류 우회 위한 함수 추가 서울 뉴스 허경 기자 김성...  0